html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    height: 100vh;
  
}
.container{
     display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
   
}
#name{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
    border-color: crimson;
    padding: 10px;
    text-transform: uppercase;
  border: 2px solid crimson;
  text-decoration-color: crimson;
}
#button{
    color: black;
    font-size: 1.2rem;
    border: 2px solid crimson;
    border-radius: 5px;
}
#button:hover{
    color: white;
    background-color: crimson;
   
}